body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f9;
}

.navbar {
    background-color:brown;
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.search-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.search-section input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section button {
    padding: 10px 20px;
    background-color:brown;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.country-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.country-card img {
    width: 100px;
    margin-bottom: 10px;
}

button.more-btn {
    background-color:brown;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color:brown;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 480px;
    position: fixed;
}